// Here you can add other styles

.nav-link-themeBlue {
  background: #506aa0 !important;

  &:hover {
    background: #3b5998 !important;
  }
}

.sidebar .nav-link.nav-link-themeBlue .nav-icon {
  color: #fff !important;
  opacity: 0.7;
}


.secretH2 {
  color: blueviolet;
  margin: 1rem 1rem 1rem 0;
}

.styleZone {
  background: #fff;
  position: relative;
  width: 800px;
  height: 250px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;

  p {
    margin: 8px 0 0 0;
    text-align: center;
    font-size: 0.75rem;
  }

  figure {
    margin: 1rem 0 0 0;
    font-size: 7rem;
    text-align: center;
  }
}

.fileList {

  li {
    list-style: none;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 0 1rem -2.5rem;
    background: #d3cecd;
    border-radius: 8px;
  }
}

.previewer {
  height: 72px;
  width: 72px;

  &:hover {
    animation-name: expand;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    height: 144px;
    width: 144px;
  }

  @keyframes expand {
    from {
      height: 72px;
      width: 72px;
    }

    to {
      height: 488px;
      width: 488px;
      background-color: blue;
    }
  }
}

///////////////
//startschem///
///////////////

.backgroundImage {
  height: 80vh;
  background-size: cover;

  .containers {
  }

  h2 {
    text-align: center;
    padding: 8rem 0 0 0;
  }

  h3 {
    text-align: center;
    padding: 3rem 0 3rem 0;
  }


  h2, h3 {
    font-size: 42px;
    font-weight: 900;
    text-shadow: 0 0 10px black;
    color: #FFF;
  }

  footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: auto;
  }

  a {
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: black solid 0px;
    padding: 0.75em 2.5em 0.75em 2.5em;
    color: #fff !important;
    text-decoration: none;
    background-color: rgb(231, 68, 44) !important;

    &:hover {
      cursor: pointer;
    }
  }
}
//////////////
///gegevens///
//////////////
.container-registratie {
  background-color: white;
  padding: 2rem;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  margin: 0 0 1rem 0;


  input {
    border-radius: 6px;
    border: #8080807d 1px solid;
    width: -webkit-fill-available;
  }

  select {
    border-radius: 6px;
    border: #8080807d 1px solid;
    width: -webkit-fill-available;
  }

  p {
    color: grey;
    margin: 0 0 1rem 0;
  }

  label {
    padding: 1rem 0 0.25rem 0;
    display: block;
  }

  .label-anoniem {
    display: inline;
  }

  .mx-1 {
    padding: 11px 0 0 0;
    display: inline-block;

    .switch-3d .switch-slider {
      background-color: lightslategrey;
    }
  }

  .button-container {
    text-align: right;
  }


  button {
    margin: 1rem 0 0rem 0;
    font-size: 26px;
    font-weight: 300;
    padding: 10px 10px 10px 10px;
    color: whitesmoke;
    border-radius: 6px;
    border: none 0px black;
    background-color: orangered;
  }
}



